bin/*
!bin/.gitkeep
config/env
composer.phar
cache/*
!cache/.gitkeep
public/images/*
!public/images/.gitkeep
!public/images/flags
!public/images/viewer
vendor/
.idea/
log/*
!log/.gitkeep
data/snapshots/*
!data/snapshots/.gitkeep
