{% extends 'layout.twig' %}

{% block content %}
    <h3>{{ title }}</h3>
    {% if data|length > 0 %}
        {% include 'table.twig' with {'data': data,
            'filters': [
                {'key': 'duration', 'apply': 'timeInSeconds'},
                {'key': 'created', 'apply': 'timestamp'}
            ],
            'hiddenColumns': ['banid', 'name', 'invokercldbid', 'invokeruid'],
            'links': [
                {'key': 'invokername', 'uri': '/clients/' ~ sid, 'uri_param': 'invokercldbid'},
            ],
            'additional_links': [
                {
                    'header_label': 'bans.delete'|trans,
                    'label': '<i class="fa fa-trash"></i>',
                    'uri': '/bans/delete/' ~ sid,
                    'uri_param': 'banid'
                }
            ]
        } %}
    {% else %}
        {% include 'no_entities.twig' %}
    {% endif %}
{% endblock %}