{% extends 'layout.twig' %}

{% block content %}
    <h3>{{ title }}</h3>

    <h5>{% trans %}channels.h.actions{% endtrans %}</h5>
    {% include 'form.twig' with {
        'fields': [
            {
                'header_label': 'channels.create'|trans,
                'label': '<i class="fa fa-check"></i>',
                'uri': '/channels/create/' ~ sid,
                'uri_method': 'post',
                'fields': [
                {'type': 'text', 'key': 'channel_name', 'label': 'channels.create.channel_name'|trans},
                {'type': 'select', 'key': 'channel_order', 'options': channelOrders, 'label': 'channels.create.channel_order'|trans},
                {'type': 'checkbox', 'key': 'channel_flag_semi_permanent', 'label': 'channels.create.semi_permanent'|trans},
                {'type': 'checkbox', 'key': 'channel_flag_permanent', 'label': 'channels.create.permanent'|trans},
                {'type': 'checkbox', 'key': 'inherit', 'label': 'channels.create.inherit'|trans},
                {'type': 'select', 'key': 'cpid', 'options': channelParents, 'label': 'channels.create.parent'|trans},
            ]
            },
        ]
    } %}

    {% if channels|length > 0 %}
        <h5>{% trans %}channels.h.details{% endtrans %}</h5>
        {% include 'table.twig' with {'data': channels,
            'links': [{'key': 'cid', 'uri': '/channels/' ~ sid}],
            'additional_links': [
                {
                    'header_label': 'channels.delete'|trans,
                    'label': '<i class="fa fa-trash"></i>',
                    'uri': '/channels/delete/' ~ sid,
                    'uri_param': 'cid'
                }
            ]
        } %}
    {% else %}
        {% include 'no_entities.twig' %}
    {% endif %}
{% endblock %}