{% extends 'layout.twig' %}

{% block content %}
    <h3>{{ title }}</h3>
    {% if data|length > 0 %}
        {% include 'table.twig' with {'data': data,
            'filters': [
                {'key': 'client_created', 'apply': 'timestamp'},
                {'key': 'client_lastconnected', 'apply': 'timestamp'},
            ],
            'links': [
                {'key': 'client_unique_identifier', 'uri': '/clients/' ~ sid, 'uri_param': 'cldbid'},
            ],
            'hiddenColumns': ['cldbid'],
            'additional_links': [
                {
                    'header_label': 'clients.delete'|trans,
                    'label': '<i class="fa fa-trash"></i>',
                    'uri': '/clients/delete/' ~ sid,
                    'uri_param': 'cldbid'
                }
            ]
        } %}
    {% else %}
        {% include 'no_entities.twig' %}
    {% endif %}
{% endblock %}