{% extends 'layout.twig' %}

{% block content %}
    <h3>{{ title }}</h3>
    {% if data|length > 0 %}
        {% include 'table.twig' with {'data': data,
            'filters': [
                {'key': 'timestamp', 'apply': 'timestamp'},
            ],
            'hiddenColumns': ['tcldbid', 'fcldbid'],
            'links': [
                {'key': 'tname', 'uri': '/clients/' ~ sid, 'uri_param': 'tcldbid'},
                {'key': 'fname', 'uri': '/clients/' ~ sid, 'uri_param': 'fcldbid'}
            ],
            'additional_links': [
                {
                    'header_label': 'complains.delete'|trans,
                    'label': '<i class="fa fa-trash"></i>',
                    'uri': '/complains/delete/' ~ sid,
                    'uri_param': 'tcldbid'
                }
            ]
        } %}
    {% else %}
        {% include 'no_entities.twig' %}
    {% endif %}
{% endblock %}