{% extends 'layout.twig' %}

{% block content %}
    <h3>{{ title }}</h3>

    <h5>{% trans %}groups.h.servergroups{% endtrans %}</h5>

    {% include 'form.twig' with {
        'fields': [
            {
                'header_label': 'groups.create'|trans,
                'label': '<i class="fa fa-check"></i>',
                'uri': '/servergroups/create/' ~ sid,
                'uri_method': 'post',
                'fields': [
                    {'type': 'text', 'key': 'name', 'label': 'groups.create.name'|trans},
                    {'type': 'select', 'key': 'type', 'options': groupTypes, 'label': 'groups.create.type'|trans},
                    {'type': 'checkbox', 'key': 'copy', 'label': 'groups.create.copy'|trans},
                    {'type': 'select', 'key': 'template', 'options': serverGroupsTemplate, 'label': 'groups.create.template'|trans}
                ]
            },
        ]
    } %}

    {% if serverGroups|length > 0 %}
        {% include 'table.twig' with {'data': serverGroups,
            'hiddenColumns': ['sgid', 'savedb', 'sortid', 'namemode', 'n_modifyp', 'n_member_addp', 'n_member_removep'],
            'additional_links': [
                {
                    'header_label': 'groups.servergroup'|trans,
                    'label': '<i class="fa fa-info"></i>',
                    'uri': '/servergroups/' ~ sid,
                    'uri_param': 'sgid'
                },
                {
                    'header_label': 'groups.delete'|trans,
                    'label': '<i class="fa fa-trash"></i>',
                    'uri': '/servergroups/delete/' ~ sid,
                    'uri_param': 'sgid'
                }
            ],
            'attributesEditable': [
                {
                    'key': 'name',
                    'type': 'text',
                    'uri': '/servergroups/rename/' ~ sid,
                    'uri_param': 'sgid',
                    'uri_method': 'post',
                    'submit_label': '<i class="fa fa-check"></i>'
                }
            ]
        } %}
    {% else %}
        {% include 'no_entities.twig' %}
    {% endif %}


    <h5>{% trans %}groups.h.channelgroups{% endtrans %}</h5>
    {% include 'form.twig' with {
        'fields': [
            {
                'header_label': 'groups.create'|trans,
                'label': '<i class="fa fa-check"></i>',
                'uri': '/channelgroups/create/' ~ sid,
                'uri_method': 'post',
                'fields': [
                {'type': 'text', 'key': 'name', 'label': 'groups.create.name'|trans},
                {'type': 'select', 'key': 'type', 'options': groupTypes, 'label': 'groups.create.type'|trans},
                {'type': 'checkbox', 'key': 'copy', 'label': 'groups.create.copy'|trans},
                {'type': 'select', 'key': 'template', 'options': channelGroupsTemplate, 'label': 'groups.create.template'|trans}
            ]
            },
        ]
    } %}

    {% if channelGroups|length > 0 %}
        {% include 'table.twig' with {'data': channelGroups,
            'hiddenColumns': ['cgid', 'savedb', 'sortid', 'namemode', 'n_modifyp', 'n_member_addp', 'n_member_removep'],
            'additional_links': [
                {
                    'header_label': 'groups.channelgroup'|trans,
                    'label': '<i class="fa fa-info"></i>',
                    'uri': '/channelgroups/' ~ sid,
                    'uri_param': 'cgid'
                },
                {
                    'header_label': 'channelgroups.delete'|trans,
                    'label': '<i class="fa fa-trash"></i>',
                    'uri': '/channelgroups/delete/' ~ sid,
                    'uri_param': 'cgid'
                }
            ],
            'attributesEditable': [
                {
                    'key': 'name',
                    'type': 'text',
                    'uri': '/channelgroups/rename/' ~ sid,
                    'uri_param': 'cgid',
                    'uri_method': 'post',
                    'submit_label': '<i class="fa fa-check"></i>'
                }
            ]
        } %}
    {% else %}
        {% include 'no_entities.twig' %}
    {% endif %}
{% endblock %}