{% extends 'layout.twig' %}

{% block content %}
    <h3>{{ title }}</h3>

    {% if log|length > 0 %}

        <div class="small">
            {% for line in log %}
                <code>{{ line.l }}</code><br/>
            {% endfor %}
        </div>

    {% else %}
        {% include 'no_entities.twig' %}
    {% endif %}

    {% if appLog|length > 0 %}
        <br/>
        <h3>{% trans %}app_log.title{% endtrans %}</h3>
        <div class="small">
            {% for line in appLog %}
                <code>{{ line }}</code><br/>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
