{% extends 'layout.twig' %}

{% block content %}
    <h3>{{ title }}</h3>

    <h5>{% trans %}online_info.h.actions{% endtrans %}</h5>
    {% include 'form.twig' with {
        'fields': [
            {
                'header_label': 'online.poke'|trans,
                'label': '<i class="fa fa-check"></i>',
                'uri': '/online/poke/' ~ sid ~ '/' ~ clid,
                'uri_method': 'post',
                'fields': [
                    {'type': 'text', 'key': 'message', 'label': 'online.poke.message'|trans},
                ]
            },
            {
                'header_label': 'online.kick'|trans,
                'label': '<i class="fa fa-check"></i>',
                'uri': '/online/kick/' ~ sid ~ '/' ~ clid,
                'uri_method': 'post',
                'fields': [
                    {'type': 'text', 'key': 'reason', 'label': 'online.kick.reason'|trans},
                ]
            },
            {
                'header_label': 'online.ban'|trans,
                'label': '<i class="fa fa-check"></i>',
                'uri': '/online/ban/' ~ sid ~ '/' ~ clid,
                'uri_method': 'post',
                'fields': [
                    {'type': 'text', 'key': 'reason', 'label': 'online.ban.reason'|trans},
                    {'type': 'number', 'key': 'time', 'label': 'online.ban.time'|trans}
                ]
            },
            {
                'header_label': 'online.move'|trans,
                'label': '<i class="fa fa-check"></i>',
                'uri': '/online/move/' ~ sid ~ '/' ~ clid,
                'uri_method': 'post',
                'fields': [
                    {'type': 'select', 'key': 'channel', 'options': channels,'label': 'online.move.channel'|trans},
                    {'type': 'text', 'key': 'channel_password', 'label': 'online.move.channel_password'|trans}
                ]
            },
            {
                'header_label': 'online.send'|trans,
                'label': '<i class="fa fa-check"></i>',
                'uri': '/online/send/' ~ sid ~ '/' ~ clid,
                'uri_method': 'post',
                'fields': [
                    {'type': 'text', 'key': 'message', 'label': 'online.send.message'|trans},
                ]
            }
        ]
    } %}


    <h5>{% trans %}online_info.h.details{% endtrans %}</h5>
    {% include 'keyvalue.twig' with {'data': data, 'filters': [
        {'key': 'client_idle_time', 'apply': 'timeInMillis'},
        {'key': 'connection_connected_time', 'apply': 'timeInSeconds'},
        {'key': 'client_created', 'apply': 'timestamp'},
        {'key': 'client_lastconnected', 'apply': 'timestamp'},
        {'key': 'connection_bandwidth_received_last_minute_total', 'apply': 'bandwidth'},
        {'key': 'connection_bandwidth_received_last_second_total', 'apply': 'bandwidth'},
        {'key': 'connection_bandwidth_sent_last_minute_total', 'apply': 'bandwidth'},
        {'key': 'connection_bandwidth_sent_last_second_total', 'apply': 'bandwidth'},
        {'key': 'connection_filetransfer Bandwidth Received', 'apply': 'bandwidth'},
        {'key': 'connection_filetransfer Bandwidth Sent', 'apply': 'bandwidth'},
        {'key': 'client_month_bytes_uploaded', 'apply': 'file'},
        {'key': 'client_month_bytes_downloaded', 'apply': 'file'},
        {'key': 'client_total_bytes_uploaded', 'apply': 'file'},
        {'key': 'client_total_bytes_downloaded', 'apply': 'file'},
        {'key': 'connection_filetransfer_bandwidth_sent', 'apply': 'file'},
        {'key': 'connection_filetransfer_bandwidth_received', 'apply': 'file'},
        {'key': 'connection_bytes_sent_total', 'apply': 'file'},
        {'key': 'connection_bytes_received_total', 'apply': 'file'},
    ]} %}
{% endblock %}