{% extends 'layout.twig' %}

{% block content %}
    <h3>{{ title }}</h3>

    <h5>{% trans %}passwords.h.actions{% endtrans %}</h5>

    {% include 'form.twig' with {
        'fields': [
            {
                'header_label': 'passwords.add'|trans,
                'label': '<i class="fa fa-check"></i>',
                'uri': '/passwords/add/' ~ sid,
                'uri_method': 'post',
                'fields': [
                    {'type': 'text', 'key': 'password', 'label': 'passwords.add.password'|trans},
                    {'type': 'number', 'key': 'duration', 'label': 'passwords.add.duration'|trans},
                    {'type': 'text', 'key': 'description', 'label': 'passwords.add.description'|trans},
                    {'type': 'select', 'key': 'channel', 'options': channels,'label': 'passwords.add.channel'|trans},
                    {'type': 'text', 'key': 'channel_password', 'label': 'passwords.add.channel_password'|trans},
                ]
            },
        ]
    } %}


    {% if data|length > 0 %}
        <h5>{% trans %}passwords.h.details{% endtrans %}</h5>
        {% include 'table.twig' with {'data': data,
            'hiddenColumns': ['uid', 'tcpw'],
            'filters': [{'key': 'start', 'apply': 'timestamp'}, {'key': 'end', 'apply': 'timestamp'}],
            'links': [
                {'key': 'tcid', 'uri': '/channels/' ~ sid, 'uri_param': 'tcid'},
            ],
            'attributesEditable': [
                {
                    'key': 'pw_clear',
                    'type': 'text',
                    'uri': '/passwords/delete/' ~ sid,
                    'uri_method': 'post',
                    'submit_label': '<i class="fa fa-trash"></i>',
                    'readOnly': true
                }
            ]
        } %}
    {% endif %}
{% endblock %}