{% extends 'layout.twig' %}

{% block content %}
    <h3>{{ title }}</h3>

    <h5>{% trans %}snapshots.h.actions{% endtrans %}</h5>
    <a href="/snapshots/create/{{ sid }}">{% trans %}snapshots.create{% endtrans %}</a>

    {% if data|length > 0 %}
        <h5>{% trans %}snapshots.h.details{% endtrans %}</h5>

        {% include 'table.twig' with {'data': data,

            'additional_links': [
                {
                    'header_label': 'snapshots.deploy'|trans,
                    'label': '<i class="fa fa-check"></i>',
                    'uri': '/snapshots/deploy/' ~ sid,
                    'uri_param': 'name'
                },
                {
                    'header_label': 'snapshots.delete'|trans,
                    'label': '<i class="fa fa-trash"></i>',
                    'uri': '/snapshots/delete/' ~ sid,
                    'uri_param': 'name'
                }
            ],

        } %}
    {% endif %}
{% endblock %}
