{% extends 'layout.twig' %}

{% block content %}
    <h3>{{ title }}</h3>

    <h5>{% trans %}tokens.h.add{% endtrans %}</h5>
    {% include 'form.twig' with {
        'fields': [
            {
                'header_label': 'tokens.add'|trans,
                'label': '<i class="fa fa-check"></i>',
                'uri': '/tokens/add/' ~ sid,
                'uri_method': 'post',
                'fields': [
                {'type': 'select', 'key': 'tokentype', 'options': tokentypes, 'label': 'tokens.add.tokentype'|trans},
                {'type': 'select', 'key': 'serverGroup', 'options': serverGroups, 'label': 'tokens.add.serverGroup'|trans},
                {'type': 'select', 'key': 'channelGroup', 'options': channelGroups, 'label': 'tokens.add.channelGroup'|trans},
                {'type': 'select', 'key': 'channel', 'options': channels, 'label': 'tokens.add.channel'|trans},
                {'type': 'text', 'key': 'description', 'label': 'tokens.add.description'|trans},
            ]
            }
        ]
    } %}

    {% if data|length >0 %}
        <h5>{% trans %}tokens.h.details{% endtrans %}</h5>
        {% include 'table.twig' with {'data': data,
            'filters': [
                {'key': 'token_created', 'apply': 'timestamp'},
                {'key': 'token_type', 'apply': 'tokentype'},
            ],
            'hiddenColumns': ['token_id1','token_id2'],
            'additional_links': [
                {
                    'header_label': 'tokens.delete'|trans,
                    'label': '<i class="fa fa-trash"></i>',
                    'uri': '/tokens/delete/' ~ sid,
                    'uri_param': 'token',
                    'apply': 'escape_url'
                }
            ],
        } %}
    {% endif %}
{% endblock %}