{% extends 'layout.twig' %}

{% block content %}
    <h1 class="header">{{ title }}</h1>

    {% if clients|length > 0 %}
        <h2 class="header">{% trans %}channelgroup_info.h.clients{% endtrans %}</h2>
        {% include 'table.twig' with {'data': clients,
            'links': [
                {'key': 'cldbid', 'uri': '/clients/' ~ sid, 'uri_param': 'cldbid'},
                {'key': 'cid', 'uri': '/channels/' ~ sid, 'uri_param': 'cid'}
            ]
        } %}
    {% endif %}

    {% if permissions|length > 0 %}
        <h2 class="header">{% trans %}channelgroup_info.h.permissions{% endtrans %}</h2>
        {% include 'table.twig' with {'data': permissions} %}
    {% endif %}

{% endblock %}