{% extends 'layout.twig' %}

{% block content %}
    <h1 class="header">{{ title }}</h1>
    <h2 class="header">{% trans %}client_info.h.actions{% endtrans %}</h2>
    {% include 'form.twig' with {
        'additional_forms': [
            {
                'header_label': 'client_info.ban'|trans,
                'label': '<i class="material-icons">check_circle</i>',
                'uri': '/clients/ban/' ~ sid ~ '/' ~ cldbid,
                'uri_method': 'post',
                'fields': [
                    {'type': 'text', 'key': 'reason', 'label': 'client_info.ban.reason'|trans},
                    {'type': 'number', 'key': 'time', 'label': 'client_info.ban.time'|trans}
                ]
            },
            {
                'header_label': 'client_info.send'|trans,
                'label': '<i class="material-icons">check_circle</i>',
                'uri': '/clients/send/' ~ sid ~ '/' ~ cldbid,
                'uri_method': 'post',
                'fields': [
                {'type': 'text', 'key': 'subject', 'label': 'client_info.send.subject'|trans},
                {'type': 'text', 'key': 'message', 'label': 'client_info.send.message'|trans},
            ]
            }
        ]
    } %}

    {% if serverGroups|length > 0 %}
        <h2 class="header">{% trans %}client_info.h.servergroups{% endtrans %}</h2>
        {% include 'table.twig' with {'data': serverGroups,
            'links': [{'key': 'sgid', 'uri': '/groups/' ~ sid}]
        } %}
    {% endif %}

    {% if channelGroups|length > 0 %}
    <h2 class="header">{% trans %}client_info.h.channelgroups{% endtrans %}</h2>
        {% include 'table.twig' with {'data': channelGroups,
            'links': [{'key': 'cgid', 'uri': '/channelgroups/' ~ sid}, {'key': 'cid', 'uri': '/channels/' ~ sid, 'uri_param': 'cid'}]
        } %}
    {% endif %}

    <h2 class="header">{% trans %}client_info.h.details{% endtrans %}</h2>
    {% include 'keyvalue.twig' with {'data': details, 'filters': [
        {'key': 'client_created', 'apply': 'timestamp'},
        {'key': 'client_lastconnected', 'apply': 'timestamp'},
        {'key': 'client_month_bytes_uploaded', 'apply': 'file'},
        {'key': 'client_month_bytes_downloaded', 'apply': 'file'},
        {'key': 'client_total_bytes_uploaded', 'apply': 'file'},
        {'key': 'client_total_bytes_downloaded', 'apply': 'file'},
    ]} %}

    {% if permissions|length > 0 %}
        <h2 class="header">{% trans %}client_info.h.permissions{% endtrans %}</h2>
        {% include 'table.twig' with {'data': permissions} %}
    {% endif %}
{% endblock %}