{% extends 'layout.twig' %}

{% block content %}
    <h1 class="header">{{ title }}</h1>
    {% if data|length > 0 %}
        {% include 'table.twig' with {'data': data,
            'filters': [
                {'key': 'timestamp', 'apply': 'timestamp'},
            ],
            'additional_links': [
                {
                    'header_label': 'complains.delete'|trans,
                    'label': '<i class="material-icons">delete</i>',
                    'uri': '/complains/delete/' ~ sid,
                    'uri_param': 'tcldbid'
                }
            ]
        } %}
    {% else %}
        {% include 'no_entities.twig' %}
    {% endif %}
{% endblock %}