{% extends 'layout.twig' %}

{% block content %}
    <h1 class="header">{{ title }}</h1>
    {% include 'keyvalue.twig' with {'data': data,
        'filters': [
            {'key': 'instance_uptime', 'apply': 'timeInSeconds'},
            {'key': 'host_timestamp_utc', 'apply': 'timestamp'},
            {'key': 'connection_filetransfer_bandwidth_sent', 'apply': 'file'},
            {'key': 'connection_filetransfer_bandwidth_received', 'apply': 'file'},
            {'key': 'connection_filetransfer_bytes_send_total', 'apply': 'file'},
            {'key': 'connection_filetransfer_bytes_received_total', 'apply': 'file'},
            {'key': 'connection_bytes_sent_total', 'apply': 'file'},
            {'key': 'connection_bytes_received_total', 'apply': 'file'}
        ],
        'attributesEditable': [
            {'key': 'serverinstance_guest_serverquery_group', 'type': 'number', 'uri': '/instance/edit', 'uri_method': 'post', 'submit_label': '<i class="material-icons">check_circle</i>'},
            {'key': 'serverinstance_template_serveradmin_group', 'type': 'number', 'uri': '/instance/edit', 'uri_method': 'post', 'submit_label': '<i class="material-icons">check_circle</i>'},
            {'key': 'serverinstance_filetransfer_port', 'type': 'number', 'uri': '/instance/edit', 'uri_method': 'post', 'submit_label': '<i class="material-icons">check_circle</i>'},
            {'key': 'serverinstance_max_download_total_bandwitdh', 'type': 'number', 'uri': '/instance/edit', 'uri_method': 'post', 'submit_label': '<i class="material-icons">check_circle</i>'},
            {'key': 'serverinstance_max_upload_total_bandwitdh', 'type': 'number', 'uri': '/instance/edit', 'uri_method': 'post', 'submit_label': '<i class="material-icons">check_circle</i>'},
            {'key': 'serverinstance_template_serverdefault_group', 'type': 'number', 'uri': '/instance/edit', 'uri_method': 'post', 'submit_label': '<i class="material-icons">check_circle</i>'},
            {'key': 'serverinstance_template_channeldefault_group', 'type': 'number', 'uri': '/instance/edit', 'uri_method': 'post', 'submit_label': '<i class="material-icons">check_circle</i>'},
            {'key': 'serverinstance_template_channeladmin_group', 'type': 'number', 'uri': '/instance/edit', 'uri_method': 'post', 'submit_label': '<i class="material-icons">check_circle</i>'},
            {'key': 'serverinstance_serverquery_flood_commands', 'type': 'number', 'uri': '/instance/edit', 'uri_method': 'post', 'submit_label': '<i class="material-icons">check_circle</i>'},
            {'key': 'serverinstance_serverquery_flood_time', 'type': 'number', 'uri': '/instance/edit', 'uri_method': 'post', 'submit_label': '<i class="material-icons">check_circle</i>'},
            {'key': 'serverinstance_serverquery_flood_ban_time', 'type': 'number', 'uri': '/instance/edit', 'uri_method': 'post', 'submit_label': '<i class="material-icons">check_circle</i>'},
        ]
    } %}
{% endblock %}