<!DOCTYPE html>
<html>
<head>
    {% include 'layout/header.twig' %}
</head>
<body>
{% block modal %}
{% endblock %}

<div class="header-panel shadow-z-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <h1><a href="{{ getenv('site_index') }}">{{ getenv('site_title') }}</a></h1>

                {% if currentUser is not empty %}
                    <h4 class="label label-primary">{% trans with {'%username%': currentUser.user|upper} %}
                        menu.currentlyloggedin{% endtrans %}</h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid main">
    <div class="row">

        {% include 'layout/menu.twig' %}

        <div class="pages col-md-11">
            <div class="row">
                <div class="col-md-10">
                    <div class="well page active" id="page">

                        {% include 'layout/breadcrumbs.twig' %}

                        {% include 'layout/flashmessages.twig' %}

                        <!-- begin content: templates should overwrite this block -->
                        {% block content %}
                        {% endblock %}
                        <!-- end content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'layout/footer.twig' %}

</body>
</html>