{% extends 'layout.twig' %}

{% block content %}
    <h1 class="header">{{ title }}</h1>

    <div class="row">
        <div class="col-md-12">
            {% if data|length >0 %}
                {% include 'table.twig' with {'data': data,
                    'hiddenDependingOnAttribute': [{'key': 'client_type', 'values': ['1']}],
                    'hiddenColumns': ['client_type'],
                    'filters': [
                        {'key': 'client_idle_time', 'apply': 'timeInMillis'},
                        {'key': 'connection_connected_time', 'apply': 'timeInSeconds'},
                        {'key': 'client_created', 'apply': 'timestamp'},
                        {'key': 'client_lastconnected', 'apply': 'timestamp'}
                    ],
                    'links': [
                        {'key': 'clid', 'uri': '/online/' ~ sid},
                        {'key': 'cid', 'uri': '/channels/' ~ sid, 'uri_param': 'cid'},
                        {'key': 'client_database_id', 'uri': '/clients/' ~ sid, 'uri_param': 'client_database_id'}
                    ],
                } %}
            {% else %}
                {% include 'no_entities.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}