{% extends 'layout.twig' %}

{% block content %}
    <h1 class="header">{{ title }}</h1>

    <h2 class="header">{% trans %}servers.h.details{% endtrans %}</h2>
    {% if data|length > 0 %}
    {% include 'table.twig' with {'data': data,
        'filters': [
            {'key': 'virtualserver_uptime', 'apply': 'timeInSeconds'},
        ],
        'links': [
            {'key': 'virtualserver_id', 'uri': '/servers'},
            {'key': 'virtualserver_clientsonline', 'uri': '/online', 'uri_param': 'virtualserver_id'}
        ],
        'additional_links': [
            {
                'header_label': 'servers.select'|trans,
                'label': '<i class="material-icons">check_circle</i>',
                'uri': '/servers/select',
                'uri_param': 'virtualserver_id'
            },
            {
                'header_label': 'servers.start'|trans,
                'label': '<i class="material-icons">arrow_forward</i>',
                'uri': '/servers/start',
                'uri_param': 'virtualserver_id'
            },
            {
                'header_label': 'servers.stop'|trans,
                'label': '<i class="material-icons">close</i>',
                'uri': '/servers/stop',
                'uri_param': 'virtualserver_id'
            },
            {
                'header_label': 'servers.delete'|trans,
                'label': '<i class="material-icons">delete</i>',
                'uri': '/servers/delete',
                'uri_param': 'virtualserver_id'
            }
        ],
    } %}
    {% else %}
        {% include 'no_entities.twig' %}
    {% endif %}

    <h2 class="header">{% trans %}servers.h.create{% endtrans %}</h2>
    {% include 'form.twig' with {
        'additional_forms': [
            {
                'header_label': 'server_create.label'|trans,
                'label': '<i class="material-icons">check_circle</i>',
                'uri': '/servers/create',
                'uri_method': 'post',
                'fields': [
                    {'type': 'text', 'key': 'VIRTUALSERVER_NAME', 'label': 'server_create.VIRTUALSERVER_NAME'|trans},
                    {'type': 'text', 'key': 'VIRTUALSERVER_PASSWORD', 'label': 'server_create.VIRTUALSERVER_PASSWORD'|trans},
                    {'type': 'number', 'key': 'VIRTUALSERVER_PORT', 'label': 'server_create.VIRTUALSERVER_PORT'|trans},
                    {'type': 'number', 'key': 'VIRTUALSERVER_MAXCLIENTS', 'label': 'server_create.VIRTUALSERVER_MAXCLIENTS'|trans},
                ]
            }]
    } %}
{% endblock %}