{% extends 'layout.twig' %}

{% block content %}
    <h1 class="header">{{ title }}</h1>

    <h2 class="header">{% trans %}snapshots.h.actions{% endtrans %}</h2>
    <a href="/snapshots/create/{{ sid }}">{% trans %}snapshots.create{% endtrans %}</a>

    {% if data|length > 0 %}
        <h2 class="header">{% trans %}snapshots.h.details{% endtrans %}</h2>

        {% include 'table.twig' with {'data': data,

        'additional_links': [
            {
                'header_label': 'snapshots.deploy'|trans,
                'label': '<i class="material-icons">check_circle</i>',
                'uri': '/snapshots/deploy/' ~ sid,
                'uri_param': 'name'
            },
            {
                'header_label': 'snapshots.delete'|trans,
                'label': '<i class="material-icons">delete</i>',
                'uri': '/snapshots/delete/' ~ sid,
                'uri_param': 'name'
            }
        ],

        } %}
    {% endif %}
{% endblock %}