# site
site_title="Teamspeak 3 Web"
site_url="http://localhost:8080"
site_language="en" # values: each yml you specified in data/locale/
site_date_format="d.m.Y H:i:s" # values: all possible for Date::class

# theme
theme="material" # values: material (foldernames are used to determine theme in src/View/)
theme_cache=false # values: true|false (cache view/twig. makes it faster, disable for debug)

# teamspeak
teamspeak_default_host="localhost"
teamspeak_default_query_port=10011
teamspeak_default_user="serveradmin"

# log
log_name="ts3web" # values: all strings
log_level="INFO" # values: DEBUG, INFO, NOTICE, WARNING, ERROR, CRITICAL, ALERT, EMERGENCY